html {
    font-size: 10px;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.layout {
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8eded;
}

.layout__card {
    display: flex;
    flex-direction: row;
    max-width: 86rem;
    height: 30rem;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
}

.card__container-img {
    flex-basis: 40%;
    height: 100%;
}

.card__content {
    flex-basis: 60%;
    height: 100%;
    padding: 3rem 4rem;
}

.card__tittle {
    font-size: 2rem;
    line-height: 1.4;
    color: #3f7080;
    margin-bottom: 1.5rem;
}

.card__description {
    font-size: 1.4rem;
    color: #7f7d8a;
    margin-bottom: 2rem;
}

.card__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user__info {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.user__container-img {
    width: 5rem;
    height: 5rem;
}

.user__img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.user__container-name {
    display: flex;
    flex-direction: column;
}

.user__name {
    font-size: 1.4rem;
    color: #444;
    font-weight: 600;
}

.user__date {
    font-size: 1.4rem;
    color: #dfdddd;
    font-weight: 400;
}

.user__icon {
    background-color: #0080ff;
    color: white;
    border-radius: 100%;
    width: 4rem;
    margin-top: 1.5rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    cursor: pointer;
}